NET "rst" LOC = P74;
NET "clk" LOC = P55;
NET "led[0]" LOC = P81;
NET "led[1]" LOC = P82;
NET "led[2]" LOC = P83;
NET "led[3]" LOC = P84;
NET "led[4]" LOC = P85;
NET "led[5]" LOC = P87;
NET "led[6]" LOC = P88;
NET "led[7]" LOC = P92;
