//! **************************************************************************
// Written by: Map P.20131013 on Mon Apr 13 01:13:16 2020
//! **************************************************************************

SCHEMATIC START;
COMP "led<0>" LOCATE = SITE "P92" LEVEL 1;
COMP "clk" LOCATE = SITE "P55" LEVEL 1;
COMP "rst" LOCATE = SITE "P74" LEVEL 1;
SCHEMATIC END;

